{
  "swagger": "2.0",
  "basePath": "/",
  "paths": {
    "/.rss": {
      "get": {
        "operationId": "getItems",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        },
        "parameters": [],
        "summary": "reddit: the front page of the internet"
      }
    }
  },
  "definitions": {
    "Feed": {
      "type": "object",
      "properties": {
        "feed": {
          "type": "object",
          "properties": {
            "link": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "feedUrl": {
              "type": "string"
            },
            "entries": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "pubDate": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "contentSnippet": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "info": {
    "x-datafire": {
      "name": "r2",
      "type": "rss"
    }
  },
  "host": "www.reddit.com",
  "schemes": [
    "https"
  ]
}